@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  /* outline: 2px solid yellow; */
  /* border: 2px solid green; */
}

.instagram svg {
  background: linear-gradient(
    43.94deg,
    #eea054 16.16%,
    #d64763 50.11%,
    #b62a99 83.68%
  ) !important;
}

canvas {
  background: transparent !important;
}

/* .filterOption { */
div .ant-select-selector {
  color: white;
  font-size: 16px;
}
/* } */

/* .hoverDiv {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
} */

/* Hover on Parent Container */
/* .mapParent:hover {
  cursor: pointer;
}

.mapParent:hover .hoverDiv {
  bottom: 65%;
  left: 32%;
  visibility: visible;
  opacity: 0.7;
} */

/* -bottom-[65%] left-[5%] md:left-[32%] */

/* .candidateWrap{
  /* position: absolute; */
/* } */
/* :nth-of-type() */

/* .candidateResult:nth-of-type(1) {
  left: 10%;
  position: absolute;
}

.candidateResult:nth-of-type(2) {
  position: absolute !important;
  left: 43%;
  top: 40%;
}

.candidatResult:last-child {
  left: 77%;
  position: absolute;
  top: 40%;
} */

/* left-[6%] md:left-[10%] */

.candidateResult > div:nth-child(1) img{
  content: url(./assets/Peter.png);
}

.candidateResult > div:nth-child(2) img{
  content: url(./assets/Atiku.png);
}

.candidateResult > div:nth-child(1) {
  /* position: absolute; */
  top: 0;
  /* left: 125%; */
}

.candidateResult > div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 120%;
}

.candidateResult > div:nth-child(3) {
  position: absolute;
  left: 235%;
  top: 0;
}

@media (min-width: 768px) {
  .candidateResult > div:nth-child(2) {
    /* position: absolute; */
    top: 0;
    left: 195%;
  }

  .candidateResult > div:nth-child(3) {
    /* position: absolute; */
    left: 351%;
    top: 0;
  }
}

@media (min-width: 1004px) {
  .candidateResult > div:nth-child(1) {
    left: 10%;
  }

  .candidateResult > div:nth-child(2) {
    left: 158%;
    position: absolute;
    top: 0;
  }

  .candidateResult > div:nth-child(3) {
    left: 274%;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 1280px) {
  .candidateResult > div:nth-child(2) {
    left: 258%;
    position: absolute;
    top: 0;
  }

  .candidateResult > div:nth-child(3) {
    left: 420%;
    position: absolute;
    top: 0;
  }}

/*
 */
